<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>My Pictures</h2>
        {% for picture in all_pictures %}
            <img src="{{ config['UPLOAD_FOLDER'] }}/{{ picture[0] }}" 
                width=200>
        {% endfor %}
        <h2>Upload new File</h2>
        <form method=post enctype=multipart/form-data>
        <!-- method définie comme post, attendue en flask
        variable action invisible, spécifie l'url vers laquelle se dirige le bouton
        si nulle, reste sur le même -->
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
        </form>
    </body>
</html>
