<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Hello World!</h1>
        {% endif %}
        <h2>{{ subtitle }}</h2>

        {% block list_title %}
        <h3>Je suis un nouveau titre</h3>
        {% endblock %}

        <ul>
            {% for item in list_items %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
