<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static', filename = 'css/style.css')}}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    {% block head %}
    <title>Picshare | Home</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="{{ url_for('index') }}" class="tab">Picshare</a>
          {% for i in menu %} {% if i == request.url.rsplit('/', 1)[-1] %}
          <a href="{{ url_for('categories', name=i) }}" class="active-tab"
            >{{ i }}</a
          >
          {% else %}
          <a href="{{ url_for('categories', name=i) }}" class="tab">
            {{ i }}
          </a>
          {% endif %} {% endfor %}
        </div>
        <div>
          <a href="{{ url_for('upload_picture') }}">Upload a file</a>
        </div>
      </nav>
    </header>

    {% block corps %} {% endblock %}

    <footer>
      <a href="{{ url_for('index') }}">Picshare</a>
    </footer>
  </body>
</html>
