{% extends 'layout.html' %}
<!-- header block --------------------------------------------------------- -->
{% block head %}
<title>Picshare | Upload</title>
{% endblock %}
<!-- main block ----------------------------------------------------------- -->
{% block corps %}
<main id="upload">
  <form method="post" enctype="multipart/form-data">
    <div class="form--part">
      <label class="image-button" for="inpFile">
        <span class="material-icons"> add_photo_alternate </span> &nbsp; Upload
        a picture</label
      >
      <input type="file" name="picture" id="inpFile" accept="image/*" />
      <div class="upload--image-preview" id="imagePreview">
        <img src="" alt="Image Preview" class="image-preview--image" />
        <span class="image-preview--default">Image Preview</span>
      </div>
      <p>allowed extension: {{ ', '.join(allowed_extensions) }}</p>
    </div>
    <div class="form--part">
      <label
        >Category:
        <select id="categories" name="category">
          {% for i in categories %}
          <option>{{ i["name"] }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="form--part">
      <label
        >Nickname:
        <input
          type="txt"
          name="nickname"
          placeholder="{{ error.nickname if error.nickname else 'No special characters' }}"
          class="{{ 'show--error' if error.nickname else '' }}"
      /></label>
      <label
        >Picture name:
        <input
          type="txt"
          name="name"
          placeholder="{{ error.name if error.name else 'Limit 20 characters' }}"
          class="{{ 'show--error' if error.name else '' }}"
      /></label>
      <label
        >Description:
        <input
          type="txt"
          name="description"
          placeholder="{{ error.description if error.description else 'Limit 300 characters' }}"
          class="{{ 'show--error' if error.description else '' }}"
      /></label>
    </div>

    <input type="submit" value="Post" class="submit-picture" />
    {% if error.picture %}
    <div class="error">{{ error.picture }}</div>
    {% endif %}
  </form>
</main>

<!-- some javascript ------------------------------------------------------ -->
<script>
  const inpFile = document.getElementById("inpFile");
  const previewContainer = document.getElementById("imagePreview");
  const previewImage = previewContainer.querySelector(".image-preview--image");
  const previewDefaultText = previewContainer.querySelector(
    ".image-preview--default"
  );

  inpFile.addEventListener("change", function () {
    const file = this.files[0];

    console.log(file);
    if (file) {
      const reader = new FileReader();
      previewDefaultText.style.display = "none";
      previewImage.style.display = "block";

      reader.addEventListener("load", function () {
        previewImage.setAttribute("src", this.result);
      });
      reader.readAsDataURL(file);
    }
  });
</script>

{% if scroll %}
<script>
  document.getElementById("{{ scroll }}").scrollIntoView();
</script>
{% endif %}

<!-- end block ------------------------------------------------------------ -->
{% endblock %}
